<%= render '/admin/includes/nav' %>

<div class="row">
	<div class="col-md-8 offset-2 mt-2">
		<a href="/admin/product/add" class="btn btn-primary">Add New Product</a>

		<div class="mt-2">
			
		</div>
	</div>
</div>