<table class="table">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td></td>
    </tr>
  <% end %>
</table>