<%= render '/customer/includes/nav' %>

<div class="row">
	<div class="col-md-10 offset-1 mt-5">
		<h4>Payments</h4>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<th>Payment Ref</th>
				<th>Amount</th>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>